[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/ImGuiFileDialog"]
	path = extern/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
	branch = Lib_Only
[submodule "extern/doxygen-awesome-css.git"]
	path = extern/doxygen-awesome-css.git
	url = https://github.com/jothepro/doxygen-awesome-css.git
